<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Site - Product Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detail.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h3>Ürün Detayları</h3>
    
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product[2] }}</li>
        </ol>
    </nav>
    
    
    <div class="product-detail-container">
        
        <div class="product-image">
            <img src="{{ url_for('static', filename=product[4])}}" alt="Product Image" style="max-width: 100%;">
        </div>
        
        
        <div class="product-details">
            <h3>Ürün Numarası: {{ product[1] }}</h3>
            <p> Ürün Açıklaması: {{ product[2] }}</p>
            <p>Ürünün Güncel Fiyatı: ₺{{ product[3] }}</p>
            <p>Ürün Kategorisi: {{ product[5] }}</p>
        </div>
    </div>
    <a href="{{ url_for('index')}}" class="back">Anasayfaya git</a>
</body>
</html>